<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      <h1>Registrar alumno</h1>
    </ion-title>
    <ion-button slot="end" size="small" (click)="btnInicio();">Inicio</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="usuario" (ngSubmit)="registrar()">
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom_com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo institucional</ion-label>
      <ion-input type="text" placeholder="Ingrese correo" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha nacimiento</ion-label>
      <ion-input type="date" placeholder="Ingrese fecha nacimiento" formControlName="fec_nac"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Dirección</ion-label>
        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="direccion" [(ngModel)]="direccion"/>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Semestre</ion-label>
      <ion-input type="number" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input type="text" placeholder="Ingrese número de celular" formControlName="nro_cel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Repita Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
    </ion-item>
    <ion-button type="submit" color="warning" [disabled]="!usuario.valid">REGISTRAR</ion-button>
  </form>
</ion-content>