<ion-content class="ion-padding">
  <ion-card-header>
    <ion-card-title>Registrar Usuario</ion-card-title>
  </ion-card-header>


  <ion-card-content>
    <form [formGroup]="usuario" (ngSubmit)="registrar()">  
      <ion-item>
        <ion-label position="stacked">Rut</ion-label>
        <ion-input type="text" placeholder="Ingrese rut con puntos y guión" formControlName="rut"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre completo</ion-label>
        <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom_com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Tipo de usuario </ion-label>
        <ion-select placeholder="tipo de usuario" (ionChange)="handleChange($event)" formControlName="tipo_usuario">
          <ion-select-option *ngFor="let jer of jerUsuario">{{jer.t_user}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo institucional</ion-label>
        <ion-input type="text" placeholder="Ingrese correo" formControlName="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">Fecha nacimiento</ion-label>
        <ion-input type="date" placeholder="Ingrese fecha nacimiento" formControlName="fec_nac" [(ngModel)]="fec_nac"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Dirección</ion-label>
        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="direccion" [(ngModel)]="direccion"/>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Semestre</ion-label>
        <ion-input type="text" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Celular</ion-label>
        <ion-input type="tel" placeholder="Ingrese número de celular" formControlName="nro_cel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Repita Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
      </ion-item>

      <ion-button type="submit" color="warning">Registrar</ion-button>
      <ion-button (click)="modificar()">Modificar</ion-button>
      <ion-button (click)="limpiar()">Limpiar</ion-button>
    </form>
  </ion-card-content>

  <ion-card-content> 
    <h1>Lista de usuarios</h1>
    <div *ngIf="usuario.length != 0; else elseBlock">
      <ion-list *ngFor="let usuario of usuarios">
        <ion-card>
          <ion-item>
            <ion-card-header>
              <ion-card-title>{{usuario.nom_com}}</ion-card-title>
              <ion-card-subtitle>{{usuario.rut}} - {{usuario.fec_nac}} - {{usuario.semestre}} </ion-card-subtitle>
            </ion-card-header>
            <ion-button slot="end" color="warning" (click)="buscar(usuario.id)">Buscar</ion-button>
            <ion-button slot="end"  color="danger" (click)="eliminar(usuario.id)">Eliminar</ion-button>
          </ion-item>
          <ion-card-content>
            {{usuario.tipo_usuario}}
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
    <ng-template #elseBlock>
      <p>No existen usuarios</p>
    </ng-template>


  </ion-card-content>

</ion-content>