<ion-content >

  <div class="fondo">

  <ion-card>

    <img src="../../../assets/img/oerfil.png" alt="imagen_login" class="imagen_login"/>
    <ion-card-header>
       <ion-card-title>Informacion de la cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-card-header>
          <ion-card-subtitle>Nombre: {{usuario.nom_com}} </ion-card-subtitle>
          <ion-card-subtitle>Rut : {{usuario.rut}} </ion-card-subtitle>
          <ion-card-subtitle>Correo institucional : {{usuario.email}} </ion-card-subtitle>
          <ion-card-subtitle>Fecha de nacimiento : {{usuario.fec_nac}} </ion-card-subtitle>
          <ion-card-subtitle>Semestre : {{usuario.semestre}} </ion-card-subtitle>
          <ion-card-subtitle>Tipo de usuario : {{usuario.tipo_usuario}} </ion-card-subtitle>
          <ion-card-subtitle>Tipo de usuario : {{usuario.nro_cel}} </ion-card-subtitle> 
        </ion-card-header>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
