<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list > 
    <ion-label>Rut : {{usuario.rut}} <p></p> </ion-label> 

    <ion-label>Nombre: {{usuario.nom_com}} <p></p> </ion-label>

    <ion-label>Correo institucional : {{usuario.email}} <p></p> </ion-label>

    <ion-label>Fecha de nacimiento : {{usuario.fec_nac}}<p></p> </ion-label>

    <ion-label>Semestre : {{usuario.semestre}} <p></p></ion-label>

    <ion-label>Tipo de usuario : {{usuario.tipo_usuario}} <p></p> </ion-label>
  </ion-list>

</ion-content>