<ion-header>
  <ion-toolbar>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="fondo-alumno">
    <ion-card>
      <img src="../../../assets/img/duoc.png" alt="" width="100px">
      <img src="../../../assets/img/icono_profesor.png" alt="" width="200">

      <ngx-qrcode [elementType]="elementType" [value]="value"></ngx-qrcode>
      <ion-card-title>Haz click en el botón para generar QR</ion-card-title>
      <ion-button color="primary"  size="small" class="boton" (click)="generarQR()">
        Código QR
      </ion-button>

    </ion-card>
  </div>
</ion-content>