ion-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

ion-header{
    --background: linear-gradient(#4926c9, #9198e5);
}

.fondo-alumno{
    height: 100vh;
    background-image: url(../../../assets/img/alumnos.jfif);
    background-size: cover;
    text-align: center;
}

.boton{
    --border-radius: 100px;
}


ion-card {
    --background: linear-gradient(#4926c9, #9198e5);
    margin: auto;
    color: azure;
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




    ion-card-header {
        ion-card-subtitle {
            font-size: x-large;

        }

        ion-card-title {
            font-size: x-large;
            font-weight: 200;
            line-height: 30px;
        }
    }

    ion-item {
        --background: none;
        ion-label {
            font-size: large;
            font-weight: bold;
        }
    }
}


@media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
}