<ion-header>
  <ion-toolbar>
    <ion-title>alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="fondo-alumno">
    <ion-card>
      <img src="../../../assets/img/duoc.png" alt="" width="100px">
      <img src="../../../assets/img/icono_estudiantes.png" alt="" width="200">
      <ion-card-content>
        <ion-item>
        <ion-label position="stacked">Ingresar Codigo QR:</ion-label>
        <ion-input [(ngModel)]="Qrcode"TRIM type="text" placeholder="ingrese codigo QR"></ion-input>
        </ion-item>  
        <ion-button expand="block" (click)="guardarAsist()">Ingresar codigo</ion-button>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>