<ion-content class="ion-padding">
  <ion-card-header>
    Crear clase
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="asignatura" (ngSubmit)="registrarAsignatura()">  

      <ion-item>
        <ion-label position="stacked">Nombre asigantura</ion-label>
        <ion-input type="text" placeholder="Ingrese nombre de la asignatura" formControlName="nom_asig"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sigla asignatura</ion-label>
        <ion-input type="text" placeholder="Ingrese la sigla de la asignatura" formControlName="sigla_asig"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-select placeholder="Seleccione profesor" formControlName="rutprof_asignatura">
          <ion-select-option *ngFor="let up of usrProf" value="{{up.rut}}">{{up.nom_com}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Escuela" formControlName="clasif_esc">
          <ion-select-option *ngFor="let esc of escuela">{{esc.escDuoc}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button type="submit" color="warning">Registrar asignatura</ion-button>
      <ion-button (click)="modificar()">Modificar</ion-button>
      <ion-button (click)="limpiar()">Limpiar</ion-button>
    </form>
  </ion-card-content>

  <ion-card-content> 
    <h1>Lista de asignaturas</h1>

    <ion-list *ngFor="let asig of asignaturas">
      <ion-card>
        <ion-item>
          <ion-card-header>
            <ion-card-title>{{asig.nom_asig}}</ion-card-title>
            <ion-card-subtitle> {{asig.rutprof_asignatura}} - {{asig.cod_asig}} - {{asig.sigla_asig}} - {{asig.clasif_esc}} - {{asig.id}}</ion-card-subtitle>
          </ion-card-header>
          <ion-button slot="end" color="warning" (click)="buscarAsignatura(asig.id)">Buscar</ion-button>
          <ion-button slot="end" color="danger" (click)="eliminarAsignatura(asig.id)">Eliminar</ion-button>
        </ion-item>
        <ion-card-content>
          {{asig.clasif_esc}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  
  </ion-card-content>
</ion-content>